@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap");

/* First set up your over styles with the * and body tags---also import google fonts */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

/* no bullet points for our list items--so list style to none */

ul {
  list-style: none;
}

/* remove the underline of our links and change the link color--this applies to all links */

a {
  color: #333;
  text-decoration: none;
}

/* for our large headings make a light font weight and lessen the line height for headings */

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}
/* Because we took away the margins, add for any p tag, a margin of ten pixels on the top and bottom */
p {
  margin: 10px 0;
}

/* Any images I want to have a width of 100 percent of their container by default */

img {
  width: 100%;
}
/*  This is the end of all our base changes to our tags*/

/* Navbar---useing flexbox to put our links in the right place on the right side */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

/* will use flexbox to put our navbar links horizontal instead of vertical, lets target the a an ul tags in the navbar */
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #28a745;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Now for the hero section we will put in out picture and center our content useing flexbox */

.hero {
  background-image: url("../img/showcase.jpg");
  height: 100vh;
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

/* style content */

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* overlay---useing a psuedo seletor called before--this allows us to insert content before or after this element */

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* now we will move the content up with the z index */
/* we will be saying anything that is in "hero" move up with a z index of 10, this is layering this */
/* the higher the z index it is the closer to the screen (to you) it is, thew lower, the further back it is */

.hero * {
  z-index: 10;
}

.hero.blog {
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
}

/* Icon class styleing */

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* to target font awesome icons, use the selector tag icons i */

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* hover effect for cases pictures */

.cases img:hover {
  opacity: 0.7;
}

/* round images of team pictures */

.team img {
  border-radius: 50%;
}

.team img:hover {
  opacity: 0.7;
}

/* Style callback Form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #28a745 1px solid;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* style the post page */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  margin-right: 30px;
}

/* Add media query to make responsive---basically anytime the screen 
is smaller than 768px then these styles will kick in */
/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}
